@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-primary {
    @apply text-[#131314];
  }
  .text-secondary {
    @apply text-[#131314] text-opacity-80;
  }
  .text-neutral {
    @apply text-[#13131466] text-opacity-40;
  }
}

.container {
  width: 100%;
  max-width: 1260px; /* Базовая ширина для 1440px */
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1260px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 980px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.grid-container {
  display: grid;
  grid-template-areas:
    'a b c'
    'd d c'
    'e g g';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  row-gap: 33px;
}

.item-1 {
  grid-area: a;
}
.item-2 {
  grid-area: b;
}
.item-3 {
  grid-area: c;
}
.item-4 {
  grid-area: d;
}
.item-5 {
  grid-area: e;
}
.item-6 {
  grid-area: g;
}
