:root {
    --color1: #013df6;
    --color2: #a8e545;
    --fon-color1: #818c99;
    --fon-color2: #383838;
    --fon-color3: #f2f3f5;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/suisseintl.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/suisseintl.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/suisseintl.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/suisseintl.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/suisseintl.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/suisseintl.svg#suisseintl') format('svg'); /* Chrome < 4, Legacy iOS */
}

header {
    padding: 15px 0;
}

.input:required {
    border-left: 15px solid red
}

.modal-backdrop {
    z-index: -1;
}

.container {
    padding: 15px 0;
}

.button-search {
    background: var(--color1);
    color: var(--color2);
}

.button-search:hover {
    background: var(--color2);
    color: var(--color1);
}

.top-w1 {
    height: auto;
}


.top-text1 {
    font-size: 100px;
    font-weight: 500;
    line-height: 90px;
    text-align: center;
    margin: 10px;
}


.top-text2 {
    /*color: #58151c;*/
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    color: hsla(240, 3%, 8%, 0.4);
    margin: 10px;
}


.top-text3 {
    font-size: 65px;
    font-weight: 500;
    line-height: 85px;
    text-align: center;
    margin: 10px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .top-text1 {
        font-size: 50px;
    }

    .top-text3 {
        font-size: 50px;
    }

}

.top-text4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: hsla(240, 3%, 8%, 0.4);
    margin: 10px;
}

.top-text5 {
    border-radius: 50%;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: hsla(240, 3%, 8%, 0.4);
    margin: 10px;
}


.logo1 {
    width: 106.3px;
    height: 35px;
}

.logo2 {
    margin: 5px;
    width: 108px;
    height: 108px;
}

.menu-text {
    font-size: 16px;
    font-weight: 450;
    line-height: 36px;
    text-align: center;

}

.img1 {
    width: 1024px;
    height: auto;
}

.tarif1-text {
    font-size: 13.23px;
    font-weight: 450;
    line-height: 18px;
    text-align: left;
    color: hsla(240, 3%, 8%, 0.4);
}

.tarif2-text {
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;
}

.tarif3-text {
    font-size: 15px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.tarif4-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: hsla(240, 3%, 8%, 0.4);
}

.tarif5-text {
    font-size: 55px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;

}


.tarif6-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

    color: hsla(240, 3%, 8%, 0.4);
}

.tarif7-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
}

.border-tarif1 {
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #383838;
    border-radius: 32px;
    padding: 25px;
    height: 1050px;
}

.border-tarif2 {
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #a8e545;
    border-radius: 32px;
    padding: 25px;
    height: 1150px;
}

.tarif-table {
    margin-top: 30px;
    line-height: normal;
}

.button-tarif1 {
    border: 2px solid var(--color2);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 250px;
}

.button-tarif1:hover {
    background: var(--color2);
    color: var(--fon-color3);
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 250px;
}

.button-tarif2 {
    background: var(--color2);
    color: var(--fon-color3);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 250px;
}

.button-tarif2:hover {
    border: 2px solid var(--color2);
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 250px;
}

.button-tarif3 {
    border: 2px solid var(--fon-color2);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 250px;
}

.button-tarif3:hover {
    background: var(--fon-color2);
    color: var(--fon-color3);
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    width: 250px;
}

.app-text1 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    color: black;
}

.app-text2 {
    margin-top: 25px;
    font-size: 22px;
    font-weight: 450;
    line-height: 26px;
    text-align: left;
    color: black;
}

.app-button1 {
    background: var(--fon-color2);
    color: var(--fon-color3);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
}


.button-tarif3:hover {
    border: 2px solid var(--fon-color2);
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
}

.consult-button1 {
    height: 65px;
    padding: 12px 18px 12px 18px;
    border-radius: 16px 16px 16px 16px;
    color: white;
    background: black;
}

.consult-button1:hover {
    height: 65px;
    padding: 12px 18px 12px 18px;
    border-radius: 16px 16px 16px 16px;
    color: white;
    background: var(--fon-color2);
}


.tarif-border {
    margin-top: 10px;
}

.app-border1 {
    background-color: var(--fon-color3);
    border-radius: 32px;
    padding: 25px;
    /*width: 1260px;*/
    /*height: 380px;*/
}

.business-border {
    margin-top: 10px;
    background-color: var(--fon-color3);
    border-radius: 32px;
    padding: 25px;
    width: 350px;
    height: 380px;
}

.app-img1 {
    margin: 10px;
    width: 242px;
    height: 350px;
}

.app-img2 {
    margin: 10px;
    width: 393px;
    height: 400px;
}


.bus-img1 {
    width: 408px;
    height: 250px;
}

.app-top5 {
    height: 400px;
    width: 400px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .app-img2 {
        width: 280px;
        height: 285px;
    }

    .bus-img1 {
        width: 300px;
        height: 184px;
    }

    .app-top5 {
        height: 300px;
        width: 300px;
    }

}

.bus-img2 {
    width: 128px;
    height: 128px;
}

.app-top1 {
    background-color: black;
    height: 125px;
    width: 100%;
}

.app-top2 {
    align-content: center;
    background-color: white;
    height: 125px;
    border-radius: 0px 0px 50px 50px;
}

.app-top3 {
    background-color: black;
    height: 125px;
    width: 100%;
}

.app-top4 {
    align-content: center;
    background-color: white;
    height: 125px;
    border-radius: 50px 50px 0px 0px;
}


.app-border2 {
    width: 100%;
    background-color: black;
    padding: 25px;
    /*height: 2750px;*/
}

.app-border3 {
    margin-top: 40px;
}

.app-border4 {
    margin-top: 40px;
    background-color: rgb(43, 43, 43);
    border-radius: 50px 50px 50px 50px;
    /*height: 400px;*/
}


.app-text3 {
    margin-top: 35px;
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
}

.app-text4 {
    margin-top: 20px;
    color: white;
    font-size: 22px;
    font-weight: 450;
    line-height: 26px;
    text-align: center;
}

.app-text5 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
}

.app-text6 {
    margin-top: 20px;
    color: white;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
}

.app-text7 {
    margin: 20px;
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
    text-align: left;
    color: white;
}

.app-text8 {
    text-align: left;
}

.tarif-top1 {
    background-color: var(--fon-color3);
    height: 125px;
    width: 100%;
}

.tarif-top2 {
    align-content: center;
    background-color: white;
    height: 125px;
    border-radius: 0px 0px 50px 50px;
}


.consult-border1 {
    background-color: var(--fon-color3);
    padding: 25px;
    /*height: 512px;*/
}

.consult-border2 {
    background-color: white;
    border-radius: 32px;
    padding: 25px;
    /*width: 1260px;*/
}

.bus-text1 {
    margin-top: 20px;
    font-size: 27px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;

}

.bus-text2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 450;
    line-height: 24px;
    text-align: center;
    color: hsla(240, 3%, 8%, 0.4);
}

.consult-text1 {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    text-align: left;

}

.consult-text2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: hsla(240, 3%, 8%, 0.4);

}

.consult-text3 {
    margin-top: 20px;

}

.consult-text4 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 450;
    line-height: 20px;
    text-align: center;
    color: hsla(240, 3%, 8%, 0.4);
}

.faq-text1 {
    margin-top: 20px;
    font-size: 55px;
    font-weight: 500;
    line-height: 85px;
    text-align: center;
}

.faq-text2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: hsla(240, 3%, 8%, 0.4);
}

.faq-text3 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;

}

.logo3 {
    width: 106px;
    height: 35px;
}

.footer-text2 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.footer-text3 {
    font-size: 16px;
    font-weight: 450;
    line-height: 24px;
    text-align: center;
}

.footer-text4 {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.footer-text5 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: hsla(240, 3%, 8%, 0.4);
}

.footer-text6 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.footer-text7 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.vk {
    width: 20px;
    height: 20px;
}

.tarif-flex1 {
    height: 63%;
}

.tarif-flex2 {
    height: 33%;
}

.tarif-flex3 {
    height: 31%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .tarif-flex1 {
        height: 45%;
    }

    .tarif-flex2 {
        height: 15%;
    }

    .tarif-flex3 {
        height: 25%;
    }

}

/* Стили для модального окна */
.modal {
    align-content: center;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    align-content: center;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    /*width: 80%;*/
    font-size: 35px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white !important;
}

.nav1 {
    display: flex;
    justify-content: center;
}